<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T66X2RDQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

 <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
 <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<div class="main-menu">
    <div class="contant-info">
        <div><a href=""><span class="__cf_email__" data-cfemail="">hello@ollcode.com</span></a></div>
       
    </div>
    <div class="menu-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/OurWork">Our Work</a></li>
            <li><a href="/About">About Us</a></li>
            <li><a href="/Contact">Contact Us</a></li>
        </ul>
    </div>
    <div class="social-media">
        <div class="social-link-holder"><a href="https://www.linkedin.com/company/ollcode-pvt-ltd/" target="_blank" rel="noopener noreferrer">LinkedIn</a></div>
        <div class="social-link-holder"><a href="https://www.facebook.com/ollcodedigital" target="_blank" rel="noopener noreferrer">Facebook</a></div>
        <div class="social-link-holder"><a href="https://www.instagram.com/ollcode/" target="_blank" rel="noopener noreferrer">Instagram</a></div>
    </div>
</div>

<nav class="container-fluid cnav">
    <div class="row">
        <div class="col">
            <div class="logo-holder">
                <a href="/"><img class="logo" src="images/logo.png" alt="logo"></a>
            </div>
        </div>
         <div class="col text-right">
            <div class="btn-holder talk-to-us">
                <div class="talk-to-us-holder"><a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ollcode/talk-to-ollcode?hide_event_type_details=1&hide_gdpr_banner=1'});return false;" class="cr-btn ex-padding">Talk to Us</a></div>
            </div>
        </div>
    </div>
</nav>