<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/template/head.ejs') -%>
</head>
<body class="inner-page">
<div class="menu-toggle">
    <div class="icon"></div>
</div>

<%- include ('partials/template/top-navigation.ejs') -%>
<header class="container-fluid header">
    <div class="row">
        <div class="col">
            <div class="lg-text">
                <span>Empowering</span><br>
                <span>Tomorrow's technology</span><br>
                <span class="other-color">Today.</span>
            </div>
        </div>
    </div>
</header>


<div class="container-fluid process-section">
    <div class="row">
        <div class="col">
            <div class="lg-text"><span class="other-color">Discover what we're made of</span></div>
            <div class="normal-text" style="padding-bottom: 60px;">
                <p>A group of creative problem solvers with common aims, shared values, and a range of professional expertise. Ollcode, a two-person firm that was established in 2022, has provided full-service offerings that have assisted numerous worldwide businesses in digitalizing their business processes.</p>
                
                <p>We're your dedicated tech partner, empowering you to focus on what you do best while we handle the technological side of your business. Our team understands the intricacies of your industry and is committed to leading you through the digital landscape, uncovering hidden potentials, ensuring scalability, and maximizing profitability. Whether you're a startup, an established company, or a working professional, our business-focused approach combined with a casual and accessible style will help you thrive in the digital age.</p>

                <h3>Partner with Ollcode today and unlock the true potential of your business!</h3>

            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col">
                <div class="lg-text"><span class="other-color">How we work</span></div>
                <div class="normal-text">
                    <p>The process is outlined as a step-by-step procedure. When implemented, it propels goal achievement. <br>
                        We perceive it as the art of deliberate contemplation.</p>
                </div>
            </div>
        </div>
        <div class="large-screen">
            <div class="container">
                <input type="radio" name="slider" id="discovery" checked>
                <input type="radio" name="slider" id="planning">
                <input type="radio" name="slider" id="design">
                <input type="radio" name="slider" id="development">
                <input type="radio" name="slider" id="testing">
                <input type="radio" name="slider" id="maintenance">
                <nav>
                    <label for="discovery" class="discovery">Discovery</label>
                    <label for="planning" class="planning">Planning</label>
                    <label for="design" class="design">Design</label>
                    <label for="development" class="development">Development</label>
                    <label for="testing" class="testing">Testing</label>
                    <label for="maintenance" class="maintenance">Maintenance</label>
                    <div class="slider"></div>
                </nav>
                <section>
                    <div class="content content-1">           
                        <div class="title">Goals</div>
                        <ul>
                            <li>Communicate with the client to understand the business, it’s goal and objectives.	</li>
                            <li>Understand the target audience, market and their competitive landscape.</li>
                            <li>Clarify all doubts and questions the team has for the client.</li>
                            <li>Understand the current business branding preferences and guidelines.</li>
                            <li>Our team mentioning all their future assumptions and constrains.</li>
                        </ul> 
                        <div class="title">Team Members Involved</div>
                        <ul>
                            <li>Client (Owner/ Business Representative)</li>
                            <li>Project Manager</li>
                            <li>Business Analyst</li>
                            <li>Tech Lead</li>
                        </ul> 
                    </div>
                    <div class="content content-2">
                        <div class="title">Goals</div>
                        <ul>
                            <li>Defining the project plan</li>
                            <li>Defining the design and development requirements</li>
                            <li>Creating all relevant documentation to assist efficient and successful execution of project.</li>
                            <li>Define User case scenarios</li>
                        </ul> 
                        <div class="title">Deliverables</div>
                        <ul>
                            <li>Information flowcharts</li>
                            <li>Gantt charts of estimated project timeline</li>
                            <li>Wireframes</li>
                        </ul> 
                        <div class="title">Team Members Involved</div>
                        <ul>
                            <li>Client (Owner/ Business Representative)</li>
                            <li>Project Manager</li>
                            <li>Business Analyst</li>
                            <li>Tech Lead</li>
                        </ul> 
                    </div>
                    <div class="content content-3">
                        <div class="title">Goals</div>
                        <ul>
                            <li>UI Designs of all the vital screens based on the previously approved wireframes and design guidelines.</li>
                            <li>Web, Tablet and mobile specific designs</li>
                            <li>Any revision or constructive comments regarding the designs can be provided from the client back to the team to further “brand personalize” it and sketch the most optimized design.</li>
                        </ul> 
                        <div class="title">Deliverables</div>
                        <ul>
                            <li>UI designs of the project</li>
                            <li>Source files in either Photoshop or Figma</li>
                        </ul> 
                        <div class="title">Team Members Involved</div>
                        <ul>
                            <li>Project Manager</li>
                            <li>UI/UX Design Lead and Team</li>
                        </ul> 
                        <div class="title">Tools/ Technologies used</div>
                        <img src="images/toolstech.png" alt="Tools and Tech used" width="300" height="70">
                    </div>
                    <div class="content content-4">
                        <div class="title">Goals</div>
                        <ul>
                            <li>Creating requirements for the frontend, backend, web services and API development integration. </li>
                            <li>Consider the aspects of multi-user, scalability and third party integration</li>
                            <li>Creating 2-3 week milestones for the project</li>
                            <li>Involve and update client on every achievement in every milestone via Zoom or Loom</li>
                            <li>Cleaning the code structure to minimize any repitition or unused code.</li>
                        </ul> 
                        <div class="title">Web Technologies</div>
                        <ul>
                            <li>Back-end : Node.js, Lavarel, Ruby, Java</li>
                            <li>Front-end : React.js, Angular.js, HTML5, CSS3, Vue.js</li>
                            <li>Database : MongoDB, MySQL</li>
                        </ul> 
                        <div class="title">Team Members Involved</div>
                        <ul>
                            <li>Project Manager</li>
                            <li>Tech Lead</li>
                            <li>Front-end Developers</li>
                            <li>Back-end Developers</li>
                        </ul> 
                    </div>
                    <div class="content content-5">
                        <div class="title">Goals</div>
                        <ul>
                            <li>Each milestone archived in development phase would be tested manually against user case scenarios.</li>
                            <li>Identify bugs and recorrect them.</li>
                            <li>Project demo of the final project to be tested with client for approval.</li>
                        </ul> 
                        <div class="title">Type of Testing</div>
                        <ul>
                            <li>Security Testing</li>
                            <li>Performance and Code Review</li>
                            <li>Load and Stress Review</li>
                            <li>Unit and Manual Testing</li>
                        </ul> 
                        <div class="title">Team Members Involved</div>
                        <ul>
                            <li>Project Manager</li>
                            <li>QA Engineer</li>
                            <li>Client (Owner/ Business Representative)</li>
                        </ul> 
                    </div>
                    <div class="content content-6">
                        <div class="title">Goals</div>
                        <ul>
                            <li>Simpler projects do not require much maintenance as we build self-sustainable systems for our clients. If, however, the system were to suffer an unexpected situation, Ollcode will refix the errors and relaunch the project back to live. Annual maintenance would suffice.</li>
                            <li>For more complex projects, agreed regular Security audits will be carried out.</li>
                            <li>Constant updation/upgradation of the system will be carried out due to new software/version releases. </li>
                        </ul> 
                    </div>
                </section>
            </div>
        </div>
        <div class="small-screen">
            <section class="card-container" style="padding-left: 0; padding-right: 0; padding-top: 5px; padding-bottom: 5px;">
                <div class="card">
                    <h1>Discovery</h1>
                        <div class="title">Goals</div>
                        <ul>
                            <li>Communicate with the client to understand the business, it’s goal and objectives.	</li>
                            <li>Understand the target audience, market and their competitive landscape.</li>
                            <li>Clarify all doubts and questions the team has for the client.</li>
                            <li>Understand the current business branding preferences and guidelines.</li>
                            <li>Our team mentioning all their future assumptions and constrains.</li>
                        </ul> 
                        <div class="title">Team Members Involved</div>
                        <ul>
                            <li>Client (Owner/ Business Representative)</li>
                            <li>Project Manager</li>
                            <li>Business Analyst</li>
                            <li>Tech Lead</li>
                        </ul> 
                </div>
                <div class="card">
                    <h1>Planning</h1>
                        <div class="title">Goals</div>
                        <ul>
                            <li>Communicate with the client to understand the business, it’s goal and objectives.	</li>
                            <li>Understand the target audience, market and their competitive landscape.</li>
                            <li>Clarify all doubts and questions the team has for the client.</li>
                            <li>Understand the current business branding preferences and guidelines.</li>
                            <li>Our team mentioning all their future assumptions and constrains.</li>
                        </ul> 
                        <div class="title">Team Members Involved</div>
                        <ul>
                            <li>Client (Owner/ Business Representative)</li>
                            <li>Project Manager</li>
                            <li>Business Analyst</li>
                            <li>Tech Lead</li>
                        </ul> 
                </div>
                <div class="card">
                    <h1>Design</h1>
                        <div class="title">Goals</div>
                        <ul>
                            <li>Communicate with the client to understand the business, it’s goal and objectives.	</li>
                            <li>Understand the target audience, market and their competitive landscape.</li>
                            <li>Clarify all doubts and questions the team has for the client.</li>
                            <li>Understand the current business branding preferences and guidelines.</li>
                            <li>Our team mentioning all their future assumptions and constrains.</li>
                        </ul> 
                        <div class="title">Team Members Involved</div>
                        <ul>
                            <li>Client (Owner/ Business Representative)</li>
                            <li>Project Manager</li>
                            <li>Business Analyst</li>
                            <li>Tech Lead</li>
                        </ul> 
                </div>
                <div class="card">
                    <h1>Development</h1>
                        <div class="title">Goals</div>
                        <ul>
                            <li>Communicate with the client to understand the business, it’s goal and objectives.	</li>
                            <li>Understand the target audience, market and their competitive landscape.</li>
                            <li>Clarify all doubts and questions the team has for the client.</li>
                            <li>Understand the current business branding preferences and guidelines.</li>
                            <li>Our team mentioning all their future assumptions and constrains.</li>
                        </ul> 
                        <div class="title">Team Members Involved</div>
                        <ul>
                            <li>Client (Owner/ Business Representative)</li>
                            <li>Project Manager</li>
                            <li>Business Analyst</li>
                            <li>Tech Lead</li>
                        </ul> 
                </div>
                <div class="card">
                    <h1>Testing</h1>
                        <div class="title">Goals</div>
                        <ul>
                            <li>Communicate with the client to understand the business, it’s goal and objectives.	</li>
                            <li>Understand the target audience, market and their competitive landscape.</li>
                            <li>Clarify all doubts and questions the team has for the client.</li>
                            <li>Understand the current business branding preferences and guidelines.</li>
                            <li>Our team mentioning all their future assumptions and constrains.</li>
                        </ul> 
                        <div class="title">Team Members Involved</div>
                        <ul>
                            <li>Client (Owner/ Business Representative)</li>
                            <li>Project Manager</li>
                            <li>Business Analyst</li>
                            <li>Tech Lead</li>
                        </ul> 
                </div>
                <div class="card">
                    <h1>Maintenance</h1>
                        <div class="title">Goals</div>
                        <ul>
                            <li>Communicate with the client to understand the business, it’s goal and objectives.	</li>
                            <li>Understand the target audience, market and their competitive landscape.</li>
                            <li>Clarify all doubts and questions the team has for the client.</li>
                            <li>Understand the current business branding preferences and guidelines.</li>
                            <li>Our team mentioning all their future assumptions and constrains.</li>
                        </ul> 
                        <div class="title">Team Members Involved</div>
                        <ul>
                            <li>Client (Owner/ Business Representative)</li>
                            <li>Project Manager</li>
                            <li>Business Analyst</li>
                            <li>Tech Lead</li>
                        </ul> 
                </div>
            </section>
        </div>
    </div>




    <div class="lg-text"><span class="other-color" style="padding-top: 75px;">our ethos</span></div>
    <div class="row">
        <div class="col-md-4">
            <div class="text-box">
                <div class="title">Expertise</div>
                <p>Our team comprises seasoned experts with a diverse range of skills and experience in various domains of IT. From software development and cybersecurity to cloud solutions and artificial intelligence, we have the knowledge and proficiency to tackle the most complex challenges.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-box">
                <div class="title">Client-Centric Approach</div>
                <p>We believe in building lasting partnerships with our clients. Understanding your unique goals and challenges allows us to tailor solutions that not only meet your immediate needs but also lay a solid foundation for future growth.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-box">
                <div class="title">Innovation and Adaptability</div>
                <p> Technology is ever-evolving, and so are we. We stay at the forefront of industry trends, ensuring that we can harness the latest advancements to deliver solutions that keep you ahead of the curve.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="text-box">
                <div class="title">Security and Compliance</div>
                <p>We take the security of your data seriously. Our rigorous security protocols and compliance measures ensure that your information is protected at every step of the process.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-box">
                <div class="title">Our Commitment to Excellence</div>
                <p>Quality and excellence are non-negotiables for us. We adhere to industry best practices and standards to ensure that every project we undertake is executed with precision and care. This commitment to excellence is what sets us apart and has earned us the trust of businesses across industries.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-box">
                <div class="title">Integrity and Transparency</div>
                <p>We conduct our business with the highest ethical standards. Transparency in communication and actions is non-negotiable, ensuring trust and credibility in all our relationships.</p>
            </div>
        </div>
    </div>
</div>






<div class="container-fluid jobs-section padding-for-team no-padding-bottom">
    <div class="row">
        <div class="col">
            <div class="lg-text"><span class="other-color">job openings</span></div>
        </div>
    </div>
    <div class="row job-box-row">
        <div class="col-sm-7">
            <div class="job-box">
                <div class="title">Software Engineer (Full-stack)</div>
                <div class="subtitle">This role requires a well-rounded skill set, including proficiency in both front-end and back-end technologies, as well as strong problem-solving and communication skills. Adapting to new technologies and being able to work effectively in a collaborative, fast-paced environment are also crucial aspects of this position.</div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="btn-holder">
                <a href="#" class="cr-btn black ex-padding">Apply Now</a>
            </div>
        </div>
    </div>
    <div class="row job-box-row">
        <div class="col-sm-7">
            <div class="job-box">
                <div class="title">Software Engineer (Backend)</div>
                <div class="subtitle">Develop and maintain server-side applications and databases to ensure the scalability and performance of the application.</div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="btn-holder">
                <a href="#" class="cr-btn black ex-padding">Apply Now</a>
            </div>
        </div>
    </div>
    <div class="row job-box-row">
        <div class="col-sm-7">
            <div class="job-box">
                <div class="title">UI/UX Designer</div>
                <div class="subtitle">Create intuitive and visually appealing user interfaces while ensuring seamless user experiences for web and mobile applications. Collaborate with cross-functional teams to translate business requirements into engaging design solutions.</div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="btn-holder">
                <a href="#" class="cr-btn black ex-padding">Apply Now</a>
            </div>
        </div>
    </div>
    <div class="row job-box-row">
        <div class="col-sm-7">
            <div class="job-box">
                <div class="title">Creative Content Creator</div>
                <div class="subtitle">Craft compelling and visually engaging content to drive brand awareness and engagement across social platforms. Innovate and execute dynamic campaigns that resonate with target audiences, while staying current with industry trends and platform algorithms.</div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="btn-holder">
                <a href="#" class="cr-btn black ex-padding">Apply Now</a>
            </div>
        </div>
    </div>
</div>


            </div>
            <div class="normal-text">
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising<br>
                    pain was born and I will give you a complete account of the system.</p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme clients-carousel">
                        <div class="item box"><img alt="client logo" class="client-img"
                                src="/app/public/images/client1.png">
                        </div>
                        <div class="item box"><img alt="client logo" class="client-img"
                                src="/app/public/images/client2.png">
                        </div>
                        <div class="item box"><img alt="client logo" class="client-img"
                                src="/app/public/images/client3.png">
                        </div>
                        <div class="item box"><img alt="client logo" class="client-img"
                                src="/app/public/images/client4.png">
                        </div>
                        <div class="item box"><img alt="client logo" class="client-img"
                                src="/app/public/images/client5.png">
                        </div>
                        <div class="item box"><img alt="client logo" class="client-img"
                                src="/app/public/images/client6.png">
                        </div>
                        <div class="item box"><img alt="client logo" class="client-img"
                                src="/app/public/images/client7.png">
                        </div>
                        <div class="item box"><img alt="client logo" class="client-img"
                            src="/app/public/images/client8.png">
                        </div>
                        <div class="item box"><img alt="client logo" class="client-img"
                            src="/app/public/images/client9.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include ('partials/template/commons.ejs') -%>
</body>
</html>