<!DOCTYPE html>
<html lang="en">

<head><%- include ('partials/template/head.ejs') -%></head>
<body>
<div class="menu-toggle">
    <div class="icon"></div>
</div>
<%- include ('partials/template/top-navigation.ejs') -%>


<header class="container-fluid header">
    <div class="row">
        <div class="col">
            <div class="lg-text">
                <span>Its</span><br>
                <span>Always About You</span><br>
                <span>At Ollcode</span>
            </div>
            <div class="normal-text">
                <p>Let’s start a conversation</p>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid few-contact">
    <div class="row">
        <!-- <div class="col">
            <div class="contact-info-holder">
                <div class="title">Call us</div>
                <div class="contact-info">+10 38093888</div>
            </div>
        </div> -->
        <div class="col-12">
            <div class="contact-info-holder" style="text-align: center;">
                <div class="title">E-mail</div>
                <div class="contact-info"><a href="mailto:hello@ollcode.com"><span class="__cf_email__" data-cfemail="a7cfc2cbcbc8e7c4d5c29f89c4c8ca">hello@ollcode.com</span></a></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid box-content">
    <div class="row">
        <div class="col-md-6">
            <div class="boxy simple-data c2-color">
                <div class="slg-text">
                    <span>Schedule a call with us</span>
                </div>
                <div class="normal-lg-text">
                    <div class="btn-holder">
                        <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ollcode/talk-to-ollcode?hide_event_type_details=1&hide_gdpr_banner=1'});return false;" class="cr-btn ex-padding">let’s ollcode your ideas into profitable solutions</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="boxy simple-data default-color">
                <div class="slg-text">
                    <span>visit us</span>
                </div>
                <div class="normal-lg-text">
                    <p>No 293B, Makola Road, Kiribathgoda<br>
                        Colombo 11600</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- <div class="container-fluid box-content">
    <div class="row">
        <div class="col-md-6">
            <div class="boxy simple-data c1-color">
                <div class="slg-text">
                    <span>Email us</span>
                </div>
                <div class="normal-lg-text">
                    <p>Tell us about your awesome<br>project, or just say hi at<br> <a href="https://brandio.io/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e088858c8c8fa0839285d8ce838f8d">[email&#160;protected]</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="boxy simple-data primary-color">
                <div class="slg-text">
                    <span>Postmail</span>
                </div>
                <div class="normal-lg-text">
                    <p>Wanna send the old way?<br>
                        P.O.Box 38019</p>
                </div>
            </div>
        </div>
    </div>
</div> -->



<script src="js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/anime.min.js"></script>
<script src="/js/scrollreveal.min.js"></script>
<script src="/js/main.js"></script>

<script src="js/owl.carousel.min.js"></script>



</body>

</html>