<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/template/head.ejs') -%>
</head>

<body>
    <div class="menu-toggle">
        <div class="icon"></div>
    </div>
    <%- include ('partials/template/top-navigation.ejs') -%>
        <div class="grid-bg ba-grid anim">
            <div class="inner">
                <header class="container-fluid header">
                    <div class="mouse-scroll"></div>
                    <div class="row">
                        <div class="col">
                            <div class="extra-lg-text">
                                <span class="other-color">Revitalize</span><br>
                                <span>your Business</span><br>
                            </div>
                        </div>
                    </div>
                </header>

            </div>
        </div>
        <div class="container-fluid default-content">
            <div class="row">
                <div class="col">
                    <div class="lg-text">
                        <span>Pioneering </span><br>
                        <span>Future-ready</span><br>
                        <span class="other-color">Digital Growth.</span>
                    </div>
                    <div class="normal-text">
                        <p>At Ollcode, we are driven by a singular vision: to revolutionize the way businesses harness technology. Established in 2022, we have been at the forefront of the IT industry, consistently delivering cutting-edge solutions that empower businesses to thrive in an ever-evolving digital landscape.</p>
                    </div>
                    <div class="btn-holder">
                        <a href="/About" class="cr-btn primary">more about us</a>
                    </div>
                    </div>
                    </div>
                    
                </div>
              </div>
        </div>

        <div class="container-fluid box-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="boxy c1-color">
                        <div class="row">
                            <div class="col">
                                <h1 class="title">WEBSITE & WEB APP<br>
                                    DEVELOPMENT</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                <div class="text">
                                    <ul>
                                        <li>Website Design</li>
                                        <li>UI/UX EXPERIENCE</li>
                                        <li>Wireframes</li>
                                        <li>Visual Mockups</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                <div class="text">
                                    <ul>
                                        <li>Web Application Development</li>
                                        <li>Industry Oriented Solutions</li>
                                        <li>Business Consultation</li>
                                        <li>Testing & Maintenance</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxy img-box">
                        <div class="img"><img src="images/img1.jpg" alt=""></div>
                        <div class="bottom-text">
                            <div class="link">VIEW OUR WEBSITES AND WEB APPLICATIONS</div>
                        </div>
                        <a href="project.html" class="project-link-full"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid box-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="boxy primary-color">
                        <div class="row">
                            <div class="col">
                                <h1 class="title">MOBILE APPLICATION<br>
                                    DEVELOPMENT</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                <div class="text">
                                    <ul>
                                        <li>User EXPERIENCE</li>
                                        <li>Interactivity</li>
                                        <li>Sustainability</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                <div class="text">
                                    <ul>
                                        <li>USER EXPERIENCE</li>
                                        <li>iOS App Development</li>
                                        <li>Andriod App Development</li>
                                        <li>React Native App Development</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxy img-box">
                        <div class="img"><img src="images/img2.jpg" alt=""></div>
                        <div class="bottom-text">
                            <div class="link">VIEW OUR MOBILE APPS</div>
                        </div>
                        <a href="project.html" class="project-link-full"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid box-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="boxy default-color">
                        <div class="row">
                            <div class="col">
                                <h1 class="title">BRAND<br>
                                    DEVELOPMENT</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="text">
                                    <ul>
                                        <li>Logo Marks</li>
                                        <li>Brand Guidelines</li>
                                        <li>Packaging Designs</li>
                                        <li>Print Designs</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxy img-box">
                        <div class="img"><img src="images/img3.jpg" alt=""></div>
                        <div class="bottom-text">
                            <div class="link">VIEW OUR PORTFOLIO</div>

                        </div>
                        <a href="project.html" class="project-link-full"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid box-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="boxy c2-color">
                        <div class="row">
                            <div class="col">
                                <h1 class="title">DIGITAL GROWTH<br>
                                    MARKETING</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                <div class="text">
                                    <ul>
                                        <li>Social Media Marketing</li>
                                        <li>Search Engine Marketing</li>
                                        <li>Email Marketing</li>
                                        <li>Content Creation</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                <div class="text">
                                    <ul>
                                        <li>PPC & Lead Generation</li>
                                        <li>printing & production</li>
                                        <li>Brand Strategy</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxy img-box">
                        <div class="img"><img src="images/img4.jpg" alt=""></div>
                        <div class="bottom-text">
                            <div class="link">MORE DETAILS</div>

                        </div>
                        <a href="project.html" class="project-link-full"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid clients-section">
            <div class="row">
                <div class="col">
                    <div class="lg-text">
                        <span>YOUR SATISFACTION,</span><br>
                        <span class="other-color">OUR PASSION</span><br>
                    </div>
                    <div class="normal-text">
                        <p>Ollcode is the trusted partner of global enterprises, providing guidance on digital strategy and crafting bespoke technological solutions tailored to their business needs.</p>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="owl-carousel owl-theme clients-carousel">
                                <div class="item box"><a href="https://placedrisk.com" target="_blank"><img alt="client logo" class="client-img"
                                        src="/images/client1.png"></a>
                                </div>
                                <div class="item box"><a href="https://nava-therapy.com" target="_blank"><img alt="client logo" class="client-img"
                                        src="/images/client2.png"></a>
                                </div>
                                <div class="item box"><img alt="client logo" class="client-img"
                                        src="/images/client3.png">
                                </div>
                                <div class="item box"><a href="https://bananabunks.com"><img alt="client logo" class="client-img"
                                        src="/images/client4.png"></a>
                                </div>
                                <div class="item box"><a href="https://sayamlife.com"><img alt="client logo" class="client-img"
                                        src="/images/client5.png"></a>
                                </div>
                                <div class="item box"><a href="https://mtalines.com"><img alt="client logo" class="client-img"
                                        src="/images/client6.png"></a>
                                </div>
                                <div class="item box"><a href="http://innovateova.com" target="_blank"><img alt="client logo" class="client-img"
                                        src="/images/client7.png"></a>
                                </div>
                                <div class="item box"><img alt="client logo" class="client-img"
                                    src="/images/client8.png">
                                </div>
                                <div class="item box"><img alt="client logo" class="client-img"
                                    src="/images/client9.png">
                                </div>
                                <div class="item box"><img alt="client logo" class="client-img"
                                    src="/images/client10.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include ('partials/template/commons.ejs') -%>

</body>
<script>
    $(".clients-carousel").owlCarousel({
  autoplay: true,
  loop: true,
  margin: 15,
  dots: false,
  slideTransition: "linear",
  autoplayTimeout: 4500,
  autoplayHoverPause: true,
  autoplaySpeed: 4500,
  responsive: {
    0: {
      items: 2
    },
    500: {
      items: 3
    },
    600: {
      items: 4
    },
    800: {
      items: 4
    },
    1200: {
      items: 4
    }
  }
});

</script>

</html>