<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/template/head.ejs') -%>
</head>
<body class="inner-page">
<div class="menu-toggle">
    <div class="icon"></div>
</div>
<%- include ('partials/template/top-navigation.ejs') -%>

<header class="container-fluid header">
    <div class="mouse-scroll"></div>
    <div class="row">
        <div class="col">
            <div class="extra-lg-text">
                <span>We are Currently </span><br>
                <span class="other-color">Updating our Portfolio</span><br>
            </div>
            <div class="normal-text">
                <p>We are improving the user experience that will showcase our talents and skills <br>with our work that we have completed for various number of clients.</p>
            </div>
        </div>
    </div>
</header>

<%- include ('partials/template/commons.ejs') -%>

</body>
</html>